* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 618;
    font-style: normal;
    overflow: hidden ;
    background-color: #121212;
    
  }   
/* page style starts */
 body{ color: antiquewhite;
    text-align: center;
 }
 
.maindiv{
    display: flex;
    background-color: #121212;
     
    justify-content: center;
     
    

}


.b{
    
    background-color: pink;
    width: 12rem;
    height: 12rem;
    border: 2px solid white;
    box-shadow: 2px 3px 20px white;
    margin: 2rem;
}
 
h1{
    color: whitesmoke;
    
}
h3{
    color: whitesmoke;
    
}

.flash{
    background-color: yellow;
}
.over{
    background-color: antiquewhite;
}
.userflash{
    background-color: blue;
}
.sd{z-index: 2;
    width: 2%;
    height: 4%;
    background-color:rosybrown;
    z-index: -10;
    border-radius: 90%;
    color: pink;
    background-image: url("babuswag.jpg");
}
.white{  z-index: 3;
    background-color: white;
    width: 2%;
    height: 4%;
     border-radius: 90%;
     
 }
 .boxi{
    display: flex;
    width: 20rem;
    z-index: 1;
    height: 20rem;
    margin-top: 30px;
    background-color: beige;
 }
  