.img1{
    width: 30rem;
    background-image: url("bobify.png");
    background-size: cover;
    height: 30rem;
}
.img2{
    width: 30rem;
    background-image: url("bobify.png");
    background-size: cover;
    height: 30rem;
    
}
.card{
    width: 67rem;
     box-shadow: 3px 3px black 40px;
    height: 67rem;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
}
a{
    text-decoration: none;
    color: wheat;
}
*{
background-color: #121212;
}
.box{
    display: flex;
    flex-direction: row;
    
}